# {{ ansible_managed }}

[Unit]
Description="OpenBao - An open source tool for managing secrets"
Documentation=https://openbao.org/docs/
Requires=network-online.target
After=network-online.target
ConditionPathExists={{ openbao_main_config }}

[Service]
User={{ openbao_user }}
Group={{ openbao_group }}
ProtectSystem=full
ProtectHome=read-only
PrivateTmp=yes
PrivateDevices=yes
SecureBits=keep-caps
Capabilities=CAP_IPC_LOCK+ep
AmbientCapabilities=CAP_SYSLOG CAP_IPC_LOCK
CapabilityBoundingSet=CAP_SYSLOG CAP_IPC_LOCK
NoNewPrivileges=yes

{% if openbao_http_proxy %}
Environment=HTTP_PROXY={{ openbao_http_proxy }}
{% endif -%}
{% if openbao_https_proxy %}
Environment=HTTPS_PROXY={{ openbao_https_proxy }}
{% endif %}
{% if openbao_no_proxy -%}
Environment=NO_PROXY={{ openbao_no_proxy }}
{% endif -%}
ExecStart=/bin/sh -c 'exec {{ openbao_bin_path }}/bao server -config={{ openbao_main_config  }} -log-level={{ openbao_log_level | lower }}'
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGINT
Restart=on-failure
RestartSec=5
TimeoutStopSec=30
StartLimitInterval=60
StartLimitBurst=3
LimitNOFILE=524288
LimitNPROC=524288
LimitMEMLOCK=infinity
LimitCORE=0

[Install]
WantedBy=multi-user.target
